.card {
    margin: 10px;
    text-align: center;
}

.button {
    margin: 20px 0 25px 0;
}

.excuse {
    margin-top: 25px;
    font-weight: bold;
}

.categories {
    text-align: left;
    display: inline-flex;
    flex-direction: column;
}

.category {
    margin: 10px;
}
