.button {

    /** Offset the Position **/
    margin-bottom: 10px;
    margin-top: 0;
    position: relative;
    top: 0;

    /** 3D Block Effect **/
    box-shadow: 0 10px 0 0 rgb(141, 23, 23);

    /** Make it look pretty **/
    background-color: rgb(233, 37, 37);
    border: 0;
    border-radius: 10px;
    color: #eee;
    cursor: pointer;
    display: block;
    font-size: 1.2em;
    padding: 1em 2em;
    opacity: 0.9;
}

.button:active {
    /** Remove 3D Block Effect on Click **/
    box-shadow: none;
    margin-bottom: 0;
    top: 10px;
}

.button:hover {
    opacity: 1;
}

.button:active, .button:focus {
    /** Remove Chrome's Ugly Yellow Outline **/
    outline: 0;
}

.excuse {
    border: 1px solid black;
    background-color: goldenrod;
    padding: 10px;
}








/* button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
} */
